body {
  background-color: #eeeeee;
  font-family: 'Titillium Web', sans-serif;
  color: #444444;
  font-size: 17px;
}
.wrapper  {
  margin-top: 20px;
}

.profile-information, .stat-information, .course-information {
  margin-top: 20px;
  padding: 20px 5px;
  background-color: #fff;
  box-shadow: 0px 2px 0px #E0E3DA;
  border-radius: 3px;
}

.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.user-address, .email, .phone-number {
  color: #7b8b8e !important;
  letter-spacing: 2px;
}

.social-badge {
  margin-top: 30px;
  letter-spacing: 10px;
}

.circle {
  margin: 20px 0px;
}

.lesson-stat, .questions-stat, .submission-stat {
  height:120px;
  width: 120px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #566270;
  color: #7b8b8e !important;
}

.course-information h2 {
  padding-bottom: 20px;
}
